.login-form {
    /*height: 50%;*/
    width: 30%;
    justify-content: center
}

.login-form-container {
    background-color: aliceblue;
    padding: 1rem;
}

.welcome-text {
    color: royalblue;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.welcome-text-2{
    color: white;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 5%;
    border-bottom: whitesmoke solid 1px;
    padding-right: 20%;
}

.login-image{
    position: absolute;
    object-fit: cover;
    inset:0;
    width:100%;
    height:100%;
}

.login-form-button{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 15px;
}

.secondary-button {
    background-color: transparent;
    color: darkgrey;
    border-color: transparent;
    &:hover{
        color: black;
    }
}